.btn-text {
   display: inline-block;
   padding: 1rem;
   font-size: 1.6rem;
   font-weight: 700;
   line-height: .92rem;
   letter-spacing: .2rem;
   color: $color-brown-light;
   border-bottom: 2px $color-brown-light solid;
   transition: all .3s;
   border-radius: .5rem;
   span {
      margin-left: 11px;
   }
   &:hover {
      transform: translateY(-.4rem);
      background-color: $color-brown-light;
      color: $color-white;
      box-shadow: $box-shadow;
   }
   &:active {
      transform: translateY(0rem);
   }
}