
$color-gray: #777777;
$color-brown-light: #BA8554B2;
$color-brown-dark: #a14f03;
$color-black: #000;
$color-white: #fff;

$box-shadow: (0px 4px 4px rgba(0, 0, 0, 0.3));
$shadow-text: 0 .4rem .4rem rgba($color-black, .25);

$margin-vertical-bottom: 8rem;
$grid-width: 114rem;
$gutter-horizontal: 6rem;